### Ejemplo MySQL

Obtener datos de una BBDD. Antes hacer: 
* conda install -c anaconda mysql-connector-python  
Otra opción
* pip install mysql-connector-python

In [2]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.29-cp39-cp39-win_amd64.whl (7.7 MB)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\jhoro\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.1)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.29

In [6]:
import mysql.connector  # paquete acceso MySQl
import pandas as pd

Establecemos la conexión

Ejemplo BBDD local

In [8]:
import mysql.connector
connmysql = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="root",
  use_pure = True
)
print(connmysql)

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (10061 No se puede establecer una conexión ya que el equipo de destino denegó expresamente dicha conexión)

Creacion del objeto cursor para lanzar la SQL y recuperar las filas

In [ ]:
cursordb = connmysql.cursor()
sql = "select id_aeropuerto, nombre_aeropuerto, ciudad_aeropuerto FROM DW_AERO.DM_AEROPUERTOS"
cursordb.execute(sql)
res = cursordb.fetchall() #lista de tuplas

In [ ]:
res

Volcamos resultado a dataframe Pandas

In [ ]:
df = pd.DataFrame(res, columns=['id_aeropuerto', 'nombre_aeropuerto', 'ciudad_aeropuerto'])
df.head(10)

Acceso a BBDD en cloud.   
Antes realizar pasos de: guion_acceso_Python_BBDD

In [3]:
import mysql.connector
connmysql2 = mysql.connector.connect(
  host="byknsmhyjfmtntfyi8ek-mysql.services.clever-cloud.com",
  user="ute2kh557poft0uo",
  passwd="BUELFCpNTFndASGTRLI5"
  #use_pure = True
)
print(connmysql2)

<mysql.connector.connection.MySQLConnection object at 0x0000027ED20E9748>

In [5]:
# OJO cambiar nombre de base de datos
cursordb2 = connmysql2.cursor()
sql = "select id_aeropuerto, nombre_aeropuerto, ciudad_aeropuerto FROM byknsmhyjfmtntfyi8ek.DM_AEROPUERTOS"
cursordb2.execute(sql)
res = cursordb2.fetchall() #lista de tuplas

In [6]:
res

[(9900, 'Getafe', 'Madrid'),
 (9901, 'Barajas', 'Madrid'),
 (9903, 'Cuatro Vientos', 'Madrid')]

In [7]:
df = pd.DataFrame(res, columns=['id_aeropuerto', 'nombre_aeropuerto', 'ciudad_aeropuerto'])
df.head(10)

   id_aeropuerto nombre_aeropuerto ciudad_aeropuerto
0           9900            Getafe            Madrid
1           9901           Barajas            Madrid
2           9903    Cuatro Vientos            Madrid

Otra opción muy interesante es __sqlalchemy__ que permite conectar a varias BBDD y está muy integrado con Pandas    
https://www.sqlalchemy.org/

### Ejemplo PostgreSQL

Necesario instalar psycopg2   
pip install psycopg2

In [9]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.3-cp39-cp39-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.3

In [11]:
import psycopg2
import pandas as pd

In [28]:
conn = psycopg2.connect(
    user='u79hrk7oxnvczp38xmry',
    password='3IZIofUq4AIjh0hUexTd',
    host='b6x2ffsljwkjblzsyaku-postgresql.services.clever-cloud.com',
    port='5432',
    database='b6x2ffsljwkjblzsyaku'
)

In [29]:
#Prueba de conexión
cursor = conn.cursor()
cursor.execute("ROLLBACK")
conn.commit()

In [30]:
cursor

In [31]:
cursor.execute("select id_aeropuerto, nombre_aeropuerto, ciudad_aeropuerto FROM public.DM_AEROPUERTOS")

In [32]:
res = cursor.fetchall()
res

[(9900, 'Getafe', 'Madrid'),
 (9901, 'Barajas', 'Madrid'),
 (9903, 'Cuatro Vientos', 'Madrid')]

In [33]:
df2 = pd.DataFrame(res, columns=['id_aeropuerto', 'nombre_aeropuerto', 'ciudad_aeropuerto'])
df2.head(10)

   id_aeropuerto nombre_aeropuerto ciudad_aeropuerto
0           9900            Getafe            Madrid
1           9901           Barajas            Madrid
2           9903    Cuatro Vientos            Madrid

In [35]:
for row in cursor: 
    print(row)

In [23]:
conn.close()

### Ejemplo MongoDB

Necesario instalar pymongo

In [36]:
import pymongo
from pymongo import MongoClient
import pandas as pd

ModuleNotFoundError: No module named 'pymongo'

In [3]:
# obtener connection URI del dashboard
client = MongoClient('mongodb://u9qx55ml2rd8x6vzp0p7:oGC58b4OzI82rpGzWkge@bbvmshwme4em6sg-mongodb.services.clever-cloud.com:27017/bbvmshwme4em6sg',
                    username = "u9qx55ml2rd8x6vzp0p7",
                    password = "oGC58b4OzI82rpGzWkge")

In [5]:
server_info = client.server_info()
print (server_info)

{'version': '4.0.3', 'gitVersion': '7ea530946fa7880364d88c8d8b6026bbc9ffa48c', 'modules': [], 'allocator': 'tcmalloc', 'javascriptEngine': 'mozjs', 'sysInfo': 'deprecated', 'versionArray': [4, 0, 3, 0], 'openssl': {'running': 'OpenSSL 1.1.1a  20 Nov 2018', 'compiled': 'OpenSSL 1.1.1a  20 Nov 2018'}, 'buildEnvironment': {'distmod': '', 'distarch': 'x86_64', 'cc': 'x86_64-pc-linux-gnu-cc: x86_64-pc-linux-gnu-gcc (GCC) 8.2.0', 'ccflags': '-fno-omit-frame-pointer -fno-strict-aliasing -pthread -Wall -Wsign-compare -Wno-unknown-pragmas -Winvalid-pch -O2 -Wno-unused-local-typedefs -Wno-unused-function -Wno-deprecated-declarations -Wno-unused-const-variable -Wno-unused-but-set-variable -Wno-missing-braces -fstack-protector-strong -fno-builtin-memcmp', 'cxx': 'x86_64-pc-linux-gnu-c++: x86_64-pc-linux-gnu-g++ (GCC) 8.2.0', 'cxxflags': '-Woverloaded-virtual -Wno-maybe-uninitialized -std=c++14', 'linkflags': '-pthread -Wl,-z,now -rdynamic -fstack-protector-strong -fuse-ld=gold -Wl,--build-id -Wl,--hash-style=gnu -Wl,-z,noexecstack -Wl,--warn-execstack -Wl,-z,relro', 'target_arch': 'x86_64', 'target_os': 'linux'}, 'bits': 64, 'debug': False, 'maxBsonObjectSize': 16777216, 'storageEngines': ['devnull', 'ephemeralForTest', 'mmapv1', 'wiredTiger'], 'ok': 1.0, 'operationTime': Timestamp(1636446521, 38), '$clusterTime': {'clusterTime': Timestamp(1636446521, 38), 'signature': {'hash': b'{\xf5\xd7@\x8f\n\xf1\xa9p1\xb1\xb8$d*\xff\xf9\xa2\r\x12', 'keyId': 6981797006997979137}}}

In [6]:
db = client.bbvmshwme4em6sg

In [16]:
# Cursor
res1 = db.c_clientes.find()

#recorremos todos los dic
for doc in res1:
    print(doc)

{'_id': ObjectId('6098f9a667efde452937c2a9'), 'id_cliente': '001', 'nombre': 'ABB', 'edad': 31.0}
{'_id': ObjectId('6098f9ba67efde452937c2aa'), 'id_cliente': '002', 'nombre': 'MAB', 'edad': 44.0}
{'_id': ObjectId('6098f9bb67efde452937c2ab'), 'id_cliente': '003', 'nombre': 'CGM', 'edad': 37.0}

In [18]:
res2 = db.c_clientes.find({'id_cliente':'002'})
for doc in res2:
    print(doc)

{'_id': ObjectId('6098f9ba67efde452937c2aa'), 'id_cliente': '002', 'nombre': 'MAB', 'edad': 44.0}

In [10]:
db.prueba.insert({
'campo1': 'aaa',
'campo2': 4,
'campo3': 'z'})

C:\Users\Equipo\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  after removing the cwd from sys.path.

ObjectId('618a319f756d292e2c3eadeb')

In [18]:
res3 = db.prueba.find()

### Ejemplo SQL Server

Necesario instalar pyodbc:  
    pip install pyodbc

In [ ]:
import pyodbcconn = pyodbc.connect(
    'Driver={SQL Server};'
    'Server=DESKTOP-SERVER\SQLEXPRESS;'
    'Database=dababase;'
    'Trusted_Connection=yes;'
)cursor = conn.cursor()
cursor.execute('SELECT TOP 5 * FROM dbo.table_transactions')for row in cursor: print(row)
conn.close()

### Ejemplo de Oracle

Necesario instalar cx_oarcle   
    pip install cx_oracle

In [ ]:
import cx_Oracledsn = cx_Oracle.makedsn(
    'localhost', 
    '1521', 
    service_name='orcl'
)
conn = cx_Oracle.connect(
    user='user', 
    password='pass', 
    dsn=dsn
)c = conn.cursor()
c.execute('SELECT * FROM employees WHERE ROWNUM <= 10')for row in c: print(row)
conn.close()